<% include ../partials/header %>
<% include ../partials/alerts %>
<% include ../partials/nav %>


<main id="main" class="main-content-container">


<% if (user) { %>
    <div class="admin-tools">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="col section--manage">
                        <a class="btn btn-primary pull-right" href="/properties/<%= prop.slug %>/edit">Edit</a>
                        <button class="btn btn-delete " data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>

<section id="page--heading" class="prop--heading" style="background-image: url(<%= prop.mImage %>);">
    <div class="container">
        <div class="row">
            <div class="col-12" >
                <h2><%= prop.title %></h2>
            </div>
        </div>
    </div>
</section>

<section class="dev--desc">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <h3>Development</h3>
                <p><%- prop.devDesc %></p>
            </div>
        </div> 
    </div>
</section> 

<section class="prop--desc">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <h3>The Property</h3>
                <p><%- prop.propDesc %></p>
            </div>
        </div> 
    </div>
</section> 

              

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Are you sure?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will permanently delete this property.</p>
      </div>
      <div class="modal-footer">
        <form id="delete-form" action="/properties/<%= prop.slug %>?_method=DELETE" method="POST">
            <button class="btn btn-delete">Yes delete <%= prop.title %></button>
        </form>
      </div>
    </div>
  </div>
</div>


<% include ../partials/footer %>